*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button{
    height: 25px;
    border-radius: 20px;
    background-color: white;
}